/* Global Layout Set-up */
  body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #111;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #0F7E12;
}
a:hover {
  color: #0F7E12;
}

/* Section Styles */

header {
  text-align: right;
  background: url('../images/wreck1.png') no-repeat center ;
  background-size: 100%;
  overflow: hidden;
  padding-top: 0px;
  padding-right: 70px;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 10px 10px 10px 10px;
}

.mainnav {
  height: 70px;
  width: 100%; 
  margin: 0 auto; 
  color: white;
  background: rgba(4, 6, 9, 0);
  z-index: 1000;
  padding-right: 0;
  position: fixed;

}



.name {
  font-size: 2.2em;
  color: white;
}

.mainnav ul {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 10px;
  }

.mainnav li{
    width: 80%;
    height: 50px;
    display: block;
    text-align: center;
}

.home {
  margin: 0;
  padding: 0;
}

.nav {
  display: inline-block;
  justify-content: space-around;
  font-weight: 500;
  list-style-type: none;
  font-size: 1.5em;
}

.nav li {
    margin-left: 0;
    display: inline-block;
}

.nav a {
  transition: all .5s;
  color: white; 
  text-transform: uppercase; 
  font-size: .8em;
  text-shadow: .5px .5px 4px #000;
}

.nav a:hover {
  color: #0F7E12;
}

.location {
  position: absolute;
  right: 10px;
  margin-top: 65px;
  margin-bottom: 0;
  background-color: #222;
  color: coral;
}

.card {
  padding: 20px 40px 40px;
  text-align: left;
  background: #0F7E12;
  height: 160px;
  marging-top: -4%;
  color: white;
  box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
  width: 90%
}

h2 {
    font-size: 1.8em;
    margin-top: 4px;
}

.card p {
  max-width: 80%;
}

.about {
  width: 70%;
  display: inline-block;
  float: right;
  margin-top: 30px;
  text-align: left;
}

.table {
  width: 90%;
  position: relative;
  margin: 0 auto;
  display: block;
  text-align: left;
  padding: 0;
}

.caption {
  padding: 30px 0 30px 0;
  width: 90%;
  font-size: 1.4em;
  font-weight: 400;
  margin: 0 auto;

}

.form {
  min-width: 90%;
  line-height: 2.5em;
  padding-bottom: 50px;
  vertical-align: top;
  text-align: center; 
}

.form input {
  display: block;
  height: 50px;
  width: 60%;
  background-color: #f0f0f0;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  padding: 0 20px;
  margin: 0 auto;
}



/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex { 
      width: 100%;
      margin-top: -3%;
  }

  header {
    width: 95%;
    height: 420px;
  }

  .name {
    font-size: 1.8em;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    height: 80px; 
}

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

  .mainnav ul{
    margin-top: 8px;
    padding: 10px 14px 0 0;
    float: right;
    font-size: 1.5em;
    position: relative;
    display: inline-block;
    
  }

  .nav {
    display: inline-block;
    max-width: 90%;
  }

  .mainnav li {
    width: 100px;
    padding-top: 10px;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
  }

.table {
  width: 40%;
  float: left;
  border: none;
  margin: 3% 3%;
}

.checkbox {
  width: 50%;
}

.form {
  line-height: 4em;
}

.form label {
  float: left;
  display: inline-block;

}

.caption {
  Width: 100%;
}

.form input {
  display: inline-table;
  float: right;
  text-align: left;
}

.form input:last-of-type {
  float: right;
  margin-left: 0;
}

.comments input {
  width: 50%;
}

.comments button {
  width: 50%;
}



.hours {
  margin-top: 4.5%;
  width: 40%;
  float: right;
  text-align: center;
  background-color: black;
  color: white;
  box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);

}

.map {
    margin: 4.5% 3.7%;
    width: 40%;
    height: 400px;
    float: left;
      }

.button {
  float: right;
  height: 35px;
  width: 20%;
  margin-top: 28%;
  margin-right: -29.5%;
  display: inline-block;
  cursor: pointer;
  font-size: 17px;
  padding: 6px 23px;
  text-decoration: none;
  background: green;
  color: white;
  border: none;


 
}
.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
  background-color:#0F7E12;
}
.button:active {
  position:relative;
  top:1px;
}

.mainnav-fixed-top { background-color: rgba(255,255,255,1);transition: background-color 2s ease 0s;}
.mainnav-fixed-top.opaque { background-color: rgba(255,255,255,0);transition: background-color 2s ease 0s;}


}




